@import "common.scss";

.titulo {
  margin-left: 30%;
  font-size: 200%;
}

.logo {
  width: 150px;
  height: 40px;
  margin-left: 5%;
  /*position: absolute;*/
}

.sombra {
  width: 100%;
  /*position: absolute;*/
}

.conteudo {
  display: flex;
}

.ilustracao {
  width: 40%;
  height: 30%;
  margin-left: 10%;
}

.texto {
  text-align: justify;
  font-family: "Roboto", sans-serif;
  font-size: 135%;
  margin-left: 10%;
}

.titleDevelopers {
  color: #007bc0;
  font-family: "Roboto", sans-serif;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 1%;
}

.imgDev {
  margin-left: 10%;
  height: 120px;
}

.infosDevs {
  display: flex;
  padding-bottom: 10px;
  padding-right: 10%;
}

.displayFlex {
  display: flex;
  background-color: #d9d9d9;
}

.titleDev {
  font-family: "Roboto", sans-serif;
  padding: 1%;
  background-color: #d9d9d9;
  width: 50%;
}

.conteudoDev {
  font-family: "Roboto", sans-serif;
  width: 90%;
  padding: 1%;
  text-align: justify;
  background-color: #d9d9d9;
}

.portifolioButton {
  font-family: "Roboto", sans-serif;
  border-radius: 15px;
  background-color: #d9d9d9;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

@media only screen and (max-device-width: 900px) {
  .conteudo {
    display: grid;
  }
  .logo {
    width: 50px;
    height: 15px;
  }
  .titulo {
    margin: auto;
    font-size: 15px;
    text-align: center;
  }
  .pesquisa {
    margin: auto;
    width: 120px;
  }
  .iconsSearch {
    margin: auto;
    width: 20px;
    height: 20px;
  }
  .iconsHome {
    margin: auto;
    width: 20px;
    height: 20px;
  }
  .iconsExit {
    margin: auto;
    width: 20px;
    height: 20px;
  }
  .texto {
    margin: 10%;
  }
  .ilustracao {
    margin-top: 5%;
    margin-left: 0%;
    width: 100%;
    height: 80%;
  }
  .infosDevs {
    display: block;
    margin: 5%;
    align-items: center;
    width: 90%;
  }
  .titleDev {
    width: auto;
    padding: 5%;
  }
  .conteudoDev {
    width: auto;
    padding: 5%;
  }
  .imgDev {
    width: 100%;
    height: 100%;
    margin: 1px;
  }
  .githubIcon {
    margin-left: 30%;
  }
  .instagramIcon {
    margin-left: 20px;
  }
  .linkedinIcon {
    margin-left: 20px;
  }
  .portifolioButton {
    margin-top: 40px;
    margin-bottom: 10px;
    height: 50px;
    font-size: larger;
  }
}
