@import url("https://fonts.googleapis.com/css2?family=Knewave&family=Nunito:wght@400;600;700&display=swap");

.container {
  width: 100%;
  margin: 0 auto;
}

.containerLogin {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-image: url(../public/Bosch-Supergraphic.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapLogin {
  width: 390px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  overflow: hidden;
  padding: 77px 55px 33px 55px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.loginForm {
  width: 100%;
}

.loginFormTitle {
  font-family: Nunito, sans-serif;
  display: block;
  font-size: 30px;
  color: azure;
  line-height: 1.2;
  text-align: center;
}

.loginFormTitle img {
  width: 230px;
}

.wrapInput {
  width: 100%;
  position: relative;
  margin-bottom: 37px;
}

.input {
  width: 100%;
  height: 40px;
  border-radius: 15px;
  border: none;
  outline: 0;
}

.input {
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 45px;
  background-color: transparent;
  padding: 0 5px;
  font-family: Nunito, sans-serif;
}

.focusInput {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  color: #adadad;
  font-family: Nunito, sans-serif;
}

.containerLoginFormBtn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  padding-bottom: 13px;
}

.loginFormBtn {
  font-size: 20px;
  border: none;
  color: #fff;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}

.textCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.txt1 {
  font-size: 14px;
  color: #000000;
  line-height: 1.5;
  padding-right: 5px;
}

.txt2 {
  font-size: 14px;
  color: #74808a;
  line-height: 1.5;
  text-decoration: underline;
}
